<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      font-family: system-ui, sans-serif;
    }
  </style>
</head>
<body>
  <div style='background-color: #e7e7e7; border-radius: 10px; padding: 0 10px 10px 10px;'>
    <h2 style="color: #4827EC;">Вы успешно зарегистрировались!</h2>
    <h3 style="background-color: rgb(255, 74, 74); color: #fff; padding: 5px; border-radius: 10px;">ВАЖНО!!! Если это сообщение находится в папке спам вам нужно одобрить получение сообщений от меня, если этого не сделать то я не смогу вам отправлять сообщения о новых автомобилях!</h3>
    <h4 style="color: #464545;">Уведомления можно будет выключить в любой момент в настройках сайта.</h4>
  </div>
</body>
</html>